body{
    box-sizing: border-box;
    background-color: rgb(236, 152, 152);
}
h1{
    text-align: center;
    color: rgb(246, 254, 0);
    background-color: gray;
    font-weight: 700;
    font-size: 55px;
}

table{
    margin-left: 40%;
    margin-right: 40%;
    max-width: 300px;
    max-height: 300px;

    left: 36%;
    width: 50%;
}
table td{
    max-width: 10px;
    width:8px;
    height:40px;

    border: 2px solid black;
    color: rgb(132, 7, 13);
    background-color: rgb(125, 122, 119);
    font-size: 16px;
    text-align: center;
    border-radius: 10px;

   
}
.level-panel{
    max-width: 300px;
    min-width: 300px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(246, 254, 0);
    background-color: gray;
    
}
.restart-game{
    max-width: 300px;
    min-width: 300px;

    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    font-size: 35px;
    background-color: gray;

}



.footer{
    max-width: 300px;
    max-height: 300px;
    width: 100px;
    background-color: gray;
    margin-top: 150px;
    font-size: 20px;
  
}
.info{
    width: 300px;
    height:50px;
    margin-left: 27.25%;
    background-color: gray;
    text-align: left;
    align-self: center;
    margin-left: 40%;
    font-size: 30px;

}

.img{
position: absolute;
top: 220px;
    
}
.counter{
    font-size: 25px;
    margin-left: 25px;
    align-self: center;

}
